<style type="text/css">
    /*    --------------------------------------------------
    :: Login Section
    -------------------------------------------------- */
    #login {
        padding-top: 30px
    }
    #login .form-wrap {
        width: 30%;
        margin: 0 auto;
    }
    #login h1 {
        color: #1fa67b;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;
    }
    #login .form-group {
        margin-bottom: 25px;
    }
    #login .checkbox {
        margin-bottom: 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    #login .checkbox.show:before {
        content: '\e013';
        color: #1fa67b;
        font-size: 17px;
        margin: 1px 0 0 3px;
        position: absolute;
        pointer-events: none;
        font-family: 'Glyphicons Halflings';
    }
    #login .checkbox .character-checkbox {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        display: inline-block;
    }
    #login .checkbox .label {
        color: #6d6d6d;
        font-size: 13px;
        font-weight: normal;
    }
    #login .btn.btn-custom {
        font-size: 14px;
        margin-bottom: 20px;
    }
    #login .forget {
        font-size: 13px;
        text-align: center;
        display: block;
    }

    /*    --------------------------------------------------
        :: Inputs & Buttons
        -------------------------------------------------- */
    .form-control {
        color: #212121;
    }
    .btn-custom {
        color: #fff;
        background-color: #1fa67b;
    }
    .btn-custom:hover,
    .btn-custom:focus {
        color: #fff;
    }
</style>
<section id="login">
    <div class="form-wrap">
        <div id="_AJAX_LOGIN_">
        </div>
        <h1>
            Iniciar Sesión
        </h1>
        <div onkeypress="return runScriptLogin(event)" role="form">
            <div class="form-group">
                <label class="sr-only" for="email">
                    Email
                </label>
                <input class="form-control" id="user" name="user" placeholder="Usuario o email..." type="email">
                </input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="pass">
                    Password
                </label>
                <input class="form-control" id="pass" name="pass" placeholder="Contraseña..." type="password">
                </input>
            </div>
            <input class="btn btn-custom btn-lg btn-block" id="btn-login" onclick="goLogin()" type="submit" value="Login">
            </input>
        </div>
        <a class="forget" data-target=".forget-modal" data-toggle="modal" href="javascript:;">
            Olvidaste tú contraseña?
        </a>
        <hr>
        </hr>
    </div>
</section>
<div aria-hidden="true" aria-labelledby="myForgetModalLabel" class="modal fade forget-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                    <span class="sr-only">
                        Close
                    </span>
                </button>
                <h4 class="modal-title">
                    Recuperar contraseña
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Digita tú email
                </p>
                <input autocomplete="off" class="form-control" id="recovery-email" name="recovery-email" type="email">
                </input>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">
                    Cancelar
                </button>
                <button class="btn btn-custom" type="button">
                    Recuperar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script src="views/app/js/login.js">
</script>